<article class="post-container">
  <div class="active-post-id">
    Active Post ID: {{ activePostId || 'Select A Post' }}
  </div>

  <div class="post-grid">
    <app-loader *ngIf="postsStore.isLoading()"></app-loader>

    <ng-container *ngIf="!postsStore.isLoading()">
      <app-post-item
        *ngFor="let post of postsStore.posts()"
        (click)="onPostClick(post)"
        [post]="post"
        [currentProperty]="getPropertyForPost(post)"
      ></app-post-item>
    </ng-container>
  </div>
</article>
