<article class="post-container">
  <div class="active-post-id">
    Active Post ID: {{ activePostId || 'Select A Post' }}
  </div>

  <div class="post-grid">
    <app-loader *ngIf="loading()"></app-loader>

    <ng-container *ngIf="!loading()">
      <app-post-item
        *ngFor="let post of posts()"
        (click)="onPostClick(post.id)"
        [post]="post"
        [currentProperty]="getPropertyForPost(post)"
        [ngClass]="{ 'active-post': activePostId === post.id }"
      ></app-post-item>
    </ng-container>
  </div>
</article>
