<article class="post-container">
  <div>Active Post ID: {{ activePostId || 'Select A Post' }}</div>

  <div class="post-grid">
    <app-loader *ngIf="postsStore.isLoading()"></app-loader>

    <ng-container *ngIf="!postsStore.isLoading()">
      <section *ngIf="postsStore.posts().length; else noPosts">
        <app-post-item
          *ngFor="let post of postsStore.posts(); trackBy: trackByPostId"
          (click)="onPostClick(post)"
          [post]="post"
          [currentProperty]="getPropertyForPost(post)"
          [class.active]="post.id === activePostId"
        ></app-post-item>
      </section>

      <ng-template #noPosts>
        <div class="no-posts-message">No posts available</div>
      </ng-template>
    </ng-container>
  </div>
</article>
